@import './media.scss';

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: rem(300px);
}

.btn {
  display: inline-block;
  font-size: rem(16px);
  font-weight: 600;
  color: #5844ff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

// Animation

@keyframes home-index-text {
  from {
    opacity: 0;
    transform: translateY(135px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}