@import '../../../../styles/media.scss';

.form-popup {
    max-width: rem(500px);
    max-height: 100%;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    background-color: #f5f2f2;
    border-radius: rem(17px);
    z-index: 1000;
    transition: 1s;
    animation: showPopup .3s ease-in; 

    &.active {
        visibility: hidden;
        animation: hidePopup .5s linear;  
        opacity: 0;
        transition: 1s;
    }
}

@keyframes showPopup {
    0% {
        opacity: 0;
        transform: scale(.1) translate3d(20px, 0, 0);
        transform-origin: right center;
      }
      to {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
      }
  }

  @keyframes hidePopup {
    40% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }
    to {
      opacity: 0;
      transform: scale(.1) translate3d(2000px, 0, 0);
      transform-origin: right center;
    }
  }
  
.form-popup__close {
	position: absolute;
	top: -5px;
	right: 0;
	width: 34px;
	height: 34px;
    background: transparent;
	color: lightblue;
    opacity: .7;   
    transition: .3s; 


	&:after {
		content: '×';
		position: absolute;
		top: 0;
		right: 30px;
		width: 0px;
		height: 0px;
		font: 34px/44px Arial, Helvetica,sans-serif;
		font-weight: 300;
		text-align: center;
		border-radius: 50%;
		border-width: 0;
        cursor: pointer;
        z-index: 1;
    }

    &:hover {
        opacity: 1;
        color: red;
        transition: .3s;        
    }
}

.form-popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(30px) rem(60px);
}

.form-popup__text {
    font-size: rem(30px);
    margin-bottom: rem(20px);
    text-align: center;
}

.form-popup__link {
    padding: rem(8px) rem(20px);
    color: #fff;
    font-size: rem(22px);
    background-color: blue;
    padding: 5px 15px;     
    border-radius: rem(5px);
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: lightblue;
        transition: .3s;
    }
}